Dockerfile
.dockerignore

# Git
.gitignore
.git

# Emacs backup files.
*~

# Build process output files.
/out/

# NPM packages.
/node_modules/

# Hidden stuff.
.env
config/env.current
.DS_Store
.nyc_output