# Emacs backup files.
*~

# Build process output files.
.build
cypress

# NPM packages.
/node_modules/

# Hidden stuff.
.env
.DS_Store
.nyc_output
config/*.secrets
config/*.json
.terraform

# Temp stuff
scripts/terraform
